* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main-div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
button {
  margin: 0 20px;
  padding: 8px 15px;
}
